<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card text-center">
      <div class="card-body">
        <form action="/users/register" method="POST">
          <div class="form-group">
            <label for="name" class="card-title">Name</label>
            <input style="font-family: Courier New;" type="text" id="name" name="name" class="form-control"
              value="{{ name }}" placeholder="Enter Name">
          </div>
          <div class="form-group mt-3">
            <label for="email" class="card-title">Email</label>
            <input style="font-family: Courier New;" type="email" id="email" name="email" class="form-control"
              value="{{ email }}" placeholder="Enter Email">
          </div>
          <div class="form-group mt-3">
            <label for="password" class="card-title">Password</label>
            <input style="font-family: Courier New;" type="password" id="password" name="password" class="form-control"
              value="{{ password }}" placeholder="Enter Password">
          </div>
          <div class="form-group mt-3">
            <label for="confirmPassword" class="card-title">Confirm Password</label>
            <input style="font-family: Courier New;" type="password" id="confirmPassword" name="confirmPassword"
              value="{{ confirmPassword }}" class="form-control" placeholder="Confirm Password">
          </div>
          <button type="submit" class="btn btn-secondary btn-block w-100 mt-4">register</button>
        </form>
      </div>
      <div class="card-footer text-muted">
        Have An Account? <a href="/users/login">login</a>
      </div>
    </div>
  </div>
</div>